body {
    background: url('../img/darkdenim3.png') repeat 0 0 #555;
}

table {

padding: auto;
margin: auto;
margin-top: 14px;
width:100%;

}

input {

padding: 4px;
margin: 4px;

}

td {

padding: 8px;
margin: 8px;

}