/* ****************************************************************************/
/* BODY */
body {
    background: url('../img/darkdenim3.png') repeat 0 0 #555;
}

.logout a {
	text-decoration: none;
	background-color: #FFF;
	color: #555;
	position:relative;
	float: right;
	margin-top:5px;
	margin-right:5px;
    padding: 8px;
}

.logout a:hover {
	text-decoration: none;
	background-color: #555;
	color: #fff;
	position:relative;
	float: right;
	margin-top:5px;
	margin-right:5px;
    padding: 8px;
}

textarea#restextarea {
	width: 396px;
	height: 210px;	
	padding: 5px;
	font-family: Tahoma, sans-serif;	
}

/* ****************************************************************************/
/* CALENDAR */

/* DatePicker Container */
.ui-datepicker {
    width: 90%;
    height: auto;
    margin: 5px auto 0;
    text-align: center;
    font: 32pt sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

/* DatePicker Links */
.ui-datepicker a {
    text-decoration: none;
}

/* DatePicker MainTable */
.ui-datepicker table {
    width: 100%;
}

/* DatePicker Header (month) */
.ui-datepicker-header {
    background: url('../img/dark_leather.png') repeat 0 0 #000;
    color: #e0e0e0;
    font-weight: bold;
    height: 36px;
    padding: 32px;
    line-height: 32px;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: #111;
}

/* DatePicker Header Title */
.ui-datepicker-title {
    text-align: center;
}

/* DatePicker Header Buttons */
.ui-datepicker-prev, .ui-datepicker-next {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-image: url('../img/arrow.png');
    background-repeat: no-repeat;
    line-height: 600%;
    overflow: hidden;
}

/* DatePicker Header Prev. button */
.ui-datepicker-prev {
    float: left;
    background-position: center -30px;
}

/* DatePicker Header Next. button */
.ui-datepicker-next {
    float: right;
    background-position: center 0px;
}

/* DatePicker Header #2 (days) */
.ui-datepicker thead {
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));
    background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
    background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
    background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
    background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
    border-bottom: 1px solid #bbb;
}

/* Date Font */
.ui-datepicker th {
    text-transform: uppercase;
    font-size: 14pt;
    padding: 6px 0;
    color: #666666;
    text-shadow: 1px 0px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=0);
}

/* All the cells */
.ui-datepicker tbody td {
    padding: 16px;
    border-right: 1px solid #bbb;
}

/* The last cells/columns on right */
.ui-datepicker tbody td:last-child {
    border-right: 0px;
}

/* All the rows */
.ui-datepicker tbody tr {
    border-bottom: 1px solid #bbb;
}

/* The last bottom row */
.ui-datepicker tbody tr:last-child {
    border-bottom: 0px;
}

/* The cell links and such */
.ui-datepicker td span, .ui-datepicker td a {

    font-weight: bold;
    text-align: center;
    color: #666666;
}

/* The cell links and such */
.ui-datepicker td span, .ui-datepicker td a:hover {

    font-weight: bold;
    text-align: center;
    color: #000;
}

/* Default for the cells. Not in use. */
.ui-datepicker-calendar .ui-state-default {
    
}

/* Hover + Current date highlight. Not in use */
.ui-datepicker-calendar .ui-state-hover {
    
}

/* Non-selectable cells. Not in use. */
.ui-datepicker-unselectable .ui-state-default {
}

/* Active date (chosen) */
.ui-datepicker-calendar .ui-state-active {
    width: 100%;
    position: relative;
    margin: -1px;
}

/* The first active column. */
.ui-datepicker-calendar td:first-child .ui-state-active {
    width: 100%;
    margin-left: 0;
}

/* The last active column. */
.ui-datepicker-calendar td:last-child .ui-state-active {
    width: 100%;
    margin-right: 0;
}

/* the last active row */
.ui-datepicker-calendar tr:last-child .ui-state-active {
    width: 100%;
    margin-bottom: 0;
}

/* Event style #1. < means direct descendant/child (as opposed to any level deep descendant when just space is used). */
.eventcolor1 {

    background-color: white !important;
    background-image: none !important; 
}

.eventcolor2 {

    background-color: #555 !important;
    background-image: none !important; 
}

/* Event style #1. < means direct descendant/child (as opposed to any level deep descendant when just space is used). */
.eventcolor a:hover{
}

/* ****************************************************************************/
/* DIALOG */

/* Main dialog style */
.ui-dialog {

    background: url('../img/darkdenim3.png') repeat 0 0 #555;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    padding: .2em;
    outline: 0;
}

/* Main dialog titlebar style */
.ui-dialog .ui-dialog-titlebar {
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));
    background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
    background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
    background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
    background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
    border-bottom: 1px solid #bbb;
    padding: 0.7em 0.7em;
    position: relative;
}

/* Titlebar font style */
.ui-dialog .ui-dialog-title {
    text-align: center;
    margin: .1em 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14pt;
    color: #666666;
    text-shadow: 1px 0px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=0);
}

/* Titlebar close button style. Currently disabled. */
.ui-dialog .ui-dialog-titlebar-close {
    visibility: hidden;
}

/* The dialog content. */
.ui-dialog .ui-dialog-content {
    color: white;
    position: relative;
    border: 0;
    padding: 2em 1em;
    background: none;
    overflow: auto;
}

/* The dialog button panel. */
.ui-dialog .ui-dialog-buttonpane {

    border-width: 1px;
    background-image: none;
    margin-top: .5em;
    padding: .3em .3em .3em .3em;
    font-weight: bold;
    font-size: 14pt;
}

/* The button group style. Not in use. */
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
}

/* Single button style. */
.ui-dialog .ui-dialog-buttonpane button {
    float: right;
    width: 50%;
    margin-bottom: .5em;
}

/* COMMENT HERE OR REMOVE*/
.ui-dialog .ui-resizable-se {
    width: 12px;
    height: 12px;
    right: -5px;
    bottom: -5px;
    background-position: 16px 16px;
}

/* The cursor style when dragging the dialog */
.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}


/* ****************************************************************************/
/* TABS */

/* TAB container and such... */
.ui-tabs {
}

/* The navigation bar */
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 4em;
    margin-left:32px;
}

/* The list style of the navigation bar and tabs */
.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px 1em 0 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap;
}

/* TAB link style */
.ui-tabs .ui-tabs-nav li a {
    font: 32pt sans-serif;
    color: #555;
    background: #000;   
    padding: .1em 1em;
    text-decoration: none;
}

/* TAB link style */
.ui-tabs .ui-tabs-nav li a:hover {
    font: 32pt sans-serif;
    color: #fff;
    background: #000;   
    padding: .1em 1em;
    text-decoration: none;
}

/* COMMENT HERE */
.ui-tabs .ui-tabs-nav li.ui-tabs-active {   
}

/* Active TAB link style */
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    color: #f7f7f7; 
}

/* COMMENT HERE */
.ui-tabs .ui-tabs-nav li.ui-state-disabled a {
}

/* COMMENT HERE */
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
}

/* COMMENT HERE */
.ui-tabs .ui-tabs-nav li a {
}

/* COMMENT HERE */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
    cursor: pointer;
}

/* COMMENT HERE */
.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 1em 1.4em;
    background: none;
}